main{
    border: 1px solid black;
    background-color:rgba(255, 146, 197, 0.521);
    width: 450px;
    border-radius: 10px;
}

.casa{
    border: 1px solid rgb(255, 209, 209);
    width: 150px;
    height: 150px;
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 150px;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("mariozao.gif");
    font-size: 25px;
    color:rgb(255, 255, 255);
    
}
#resultado{
    font-size: 50px;
    color:rgb(255, 255, 255);
}
#btnJogarNovamente{
    display: none;
    font-size:large;
    background-color: rgba(0, 75, 59, 0.418);
    color: rgb(255, 209, 243);
}
#placar{
    border: 3px solid rgba(111, 0, 255, 0.753);
    background-color: rgba(43, 43, 43, 0.603);
    width: 150px;
    width: 150px;
    text-align: center;
    display: none;
    border-radius: 5px;
}
h1{
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 10px;
    border: 2px solid white;
}